<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979501294062-iee0gt5t62u5cc9fqms1iasrkqreku3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979501294062-iee0gt5t62u5cc9fqms1iasrkqreku3q</string>
	<key>API_KEY</key>
	<string>AIzaSyA_oSCxVUuqjODoyW_KKCh9a8yQKnkaeNw</string>
	<key>GCM_SENDER_ID</key>
	<string>979501294062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>flutter-projects-2c9a6</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-projects-2c9a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979501294062:ios:5eed95797c2f13ff9faeff</string>
</dict>
</plist>